<!DOCTYPE html>
<html>
	<head th:replace="~{base :: head}">
		<meta charset="UTF-8">
		
	</head>
	<body>
		<header th:replace="~{base :: header}"></header>
		
		<main class="container">
		
			<section class="card w-75 mt-5 mb-3">
			  <div class="card-header">
			    Cadastrar compra
			  </div>
			  
			  <div class="card-body">
			    
			    <section>
					<div class="card-body">
						<div class="mb-3">
							<input type="hidden" name="id">
						</div>
						
						<form th:action="${salvarCompra}" method="post" th:object="${produtoObj}">
							
							<input type="hidden" name="id" th:field="*{id}">
							<div class="row">
								<div class="col-sm-6 mb-3">
									<label class="form-label">Produto</label>
									<input class="form-control" type="text" name="nome" th:field="*{nome}"> <!-- field significa campo em inglês-->
								</div>
							
							
								<div class="col-sm-6 mb-3">
									<label class="form-label">Fornecedor</label>
									<select class="form-control">
										<option  value="" selected> --[Selecione]--</option>
<!-- 											<option th:each="f : ${fornecedores}" th:value="${f.id}" th:text="${f.fornecedor}"></option> -->
									</select>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-2 mb-3">
									<label class="form-label">Quantidade</label>
									<input class="form-control" type="text" name="quantidade" > <!-- field significa campo em inglês-->
								</div>
								
								<div class="col-sm-2 mb-3">
									<label class="form-label">Preço</label>
									<input class="form-control" type="text" name="preco" > <!-- field significa campo em inglês-->
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4 ">
									<input  class="btn btn-primary" type="submit" value="salvar">
								</div>
							</div>
						</form>
					</div>
				</section>
			  </div>
			</section>
			
			<section class="mt-5">
				<table class="table">
					
					<tr>
						<th>Id</th> <th>Produto</th> <th>Descrição</th> <th>Editar</th>
					</tr>
					<tr th:each = "produto : ${produtos}">
					
						<td th:text = "${produto.id}"></td>
						<td th:text = "${produto.nome}"></td>
						<td th:text = "${produto.descricao}"></td>
						<td><a th:href="@{/selecionarProduto/{idProduto}(idProduto=${produto.id})}">Selecionar</a></td>
					</tr>
				</table>
			</section>
			
		</main>
	</body>
</html>